<div class="form-group">
    <input type="hidden" id="idFuncaoTemp" />
    
    <div class="form-row">
        <label class="control-label">Nome</label>
        <input id="nome" type="text" class="form-control" placeholder="Nome do Função" />
    </div>
    <div class="form-row mt-3">
        <select id="selectExcluido" class="form-select" aria-label="Default select example">
            <option value="0">Ativo</option>
            <option value="1">Desativo</option>
        </select>
    </div>
</div>